<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<tx:annotation-driven />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
		<property name="url" value="jdbc:hsqldb:mem:mirage_test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="connectionProvider" class="com.miragesql.miragesql.integration.spring.SpringConnectionProvider">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="dialect" class="com.miragesql.miragesql.dialect.HyperSQLDialect" />

	<bean id="sqlManager" class="com.miragesql.miragesql.SqlManagerImpl">
		<property name="connectionProvider" ref="connectionProvider" />
		<property name="dialect" ref="dialect" />
	</bean>

	<bean id="springTestDao" class="com.miragesql.miragesql.integration.spring.SpringTestDao">
		<property name="sqlManager" ref="sqlManager" />
	</bean>
</beans>